@font-face {
    font-family: "Amazon";
    src: url("../font/Amazon-Ember-Medium.ttf");
  }
/* :root {
    --page-size: 100vh;
    --color-bluebeacon: #232f3e;
    --color-nav-top: #131921;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amazon", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 1.1rem;
    background: white;
    color: black;
}

a {
    text-decoration: none;
    font-size: 15px;
    color:rgb(19, 122, 129)
}

/* p {
    margin: 0.75rem 0;
} */

/* Navbar */
.navbar-container {
    min-width: 1000px;
}

.nav-top {
    color: white;
    background: #131921;
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    width: 100%;
    font-size: 14px;
    z-index: 5;
}

.nav-flex {
    display: flex;
    position: static;
    float: none;
}

.nav-top__logo {
    line-height: 0;
    margin-left: 15px;
}

.nav-top__logo .nav-logo-base {
    margin-top: 12px;
    pointer-events: none;
    float: left;
    text-indent: -500px;
    background-position: -10px -51px;
    width: 97px;
    height: 30px;
}

.nav-geolocation {
    margin-left: 6px;
    width: auto;
    height: 60px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nav__geolocation--wrapper {
    padding: 0 9px 0 9px;
    margin: 5px 2px 5px 0;
    width: fit-content;
    height: auto;
    box-shadow: none;
    scroll-margin: 0;
    line-height: 39px;
    color: #d6d6d6;
}

.nav__geolocation--wrapper .nav__geolocation--icon {
    background-position: -71px -378px;
    width: 15px;
    height: 18px;
    margin-top: 8px;
}

.nav__geolocation--wrapper .nav__geolocation--text {
    margin-left: 3px;
    display: flex;
    position: static;
    float: none;
    flex-flow: column nowrap;
}

.nav__geolocation--wrapper .nav__geolocation--text .nav-line-1 {
    margin-top: 0;
    padding-right: 0;
}

.nav-line-1 {
    color: #ccc;
    font-size: 10px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}

.nav-line-2 {
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    font-weight: 700;
}

.nav-fill {
    height: 60px;
    flex: 1 1 auto;
    overflow: visible;
    margin: 0 10px;
    padding: 10px 4px 10px 3px;
}

.nav-fill .nav-search__form {
    border: none;
}

.nav-fill .nav-search__form--dropdown {
    display: flex;
    position: relative;
    float: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f3f3f3;
    background-image: none;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    height: 40px;
    width: 160px; 
    margin: 0;
    padding-left: 5px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-radius: 4px 0 0 4px;
    background-position: 0 -532px;
}

.nav-search-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
    font-size: 12px;
    line-height: 33px;
    margin-right: 21px;
    margin-left: 5px;
    min-width: 19px;
}

.nav-search-label__icon {
    position: absolute;
    top: 14px;
    right: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.nav-search__form--input {
    width: 100%;
}

.nav-search .nav-search__form--submit {
    min-width: auto;
    background-color: #febd69;
    background-image: none;
    border: none;
    width: 65px;

    position: relative;
    right: 0;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    background-position: 0 -381px;
}
.nav-search .nav-search__form--submit-text {
    flex: 1 1 auto;
    width: auto;
    height: auto;
    background-position: 2px -280px;
    top: 10px;
    left: 12px;
    color: #111;
    text-shadow: none;
}

.nav-tools {
    text-decoration: none;
    margin-top: 2px;
    padding: 3px 0 0 0;
}

.nav-language-selector {
}

.nav-language-selector .nav-sprite-flags {
    width: 24px;
    position: relative;
    display: inline-block;
    height: 18px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 3px;
    background-position: 0 -130px;
    background-image: url('/img/rzrQQdi0aRm6Dap.png');
}

.nav-language-selector .nav-arrow {
    margin: 20px 0 0 2px;
    border-top-color: #a7acb2;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #606060;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.nav-cart {
    display: flex;
    float: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.nav-sprite {
    background-image: url('/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png');
    background-position: 0 1000px;
    background-repeat: repeat-x;
}

.nav-cart__icon {
    display: inline-block;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
}

.nav-line-1-container {
    position: relative;
    width: 100%;
    height: 14px;
    margin-top: 9px;
}

.nav-tools {
    width: 450px;
}

.nav-tools > div {
    margin-right: 20px;
}

.nav-cart-icon {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 11px;

    background-position: -10px -340px;
    width: 38px;
    height: 26px;
}

/* !TODO */
.nav-cart-icon {
    width: 41px;
    height: 28px;
    background-position: -218px -337px;
}

.nav-sprite,
.nav-icon {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
}

/* .nav-main {
    background-image: none;
    background-color: #232f3e;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #232f3e;
    color: white;
    z-index: 1;
    padding: 1rem;
}

.navbar__left-list,
.navbar__side-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_left {
    display: flex;
    align-items: center;
}

.navbar__left-list a,
.navbar__side-list a {
    color: var(--primary-color);
    padding: 0.75rem;
    margin: 0 0.25rem;
}

.navbar__side-list a:hover {
    border-radius: 5px;
    animation: btn-blink 1s step-end infinite;
}

#navbar2{
    display:flex ;
     height: 39px;
     padding-left: 11px;
     background-color: #232F3E;
     align-items: center;
     justify-content: space-between;
     min-width: 1000px;
  }
  
  #navbar2 a{
      padding: 3px 9px;
      text-decoration: none;
      color: white;
      font-size: 15px;
  }
  .border:hover{
    border: 1px solid white;

}
.second-nav  {
    background-color:  #F56600;
    background: url(https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/November/BlackFridayILM/Fuji_BF_ILM_1X._CB652848759_.jpg) no-repeat center ;
    height: 40px;

}
/*section image*/
.side-section{
    font-family: 'Amazon Ember', Arial, sans-serif;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
    color: #0f1111;
    margin-left: 10px ;
    height: 140vh;
    margin-top: 20px;
    
   
}
.product-showcase{ 
     height: 300px;
    width: 300px;
   max-width: 460px;
    max-height: 460px;
  
}
.product-showcase ul {
  list-style: none;
 
}
.image-collaction__list img{
   height: 50px;
   width: 50px;
}
.image-collaction__list{
    width: 200%;
    display: inline-block;
   
}
.image-collaction__list li{
    display: inline-block;
}

.product-showcase__image img{
    height: 500px;
    width:500px;
    
}
.border2:hover,
.border2:focus{
    border: 2px solid orange;
    /* transition: .2s;
    transform: scale(1.15);v */
    width: 192px;
    height: 136px;
}

.product-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 300px;
    margin-left: 250px;   

}

.product-description__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 2px;

}
.star-row{
    margin-top: 3px;
   
}
/* .star-row p{
    color: #007185
} */
.star-row i{
    margin-top: 3px;
    color: #FFA41C;
    font-size:14px;

}
.star-row--page-3{
    display: flex;
     
}
.star-row--page-3 p{
    font-size: 15px;
    padding-left: 14px;
}
.star-row--page-3 i {
    margin-top: 3px;
    color: #FFA41C;
    font-size:14px;
}
.line_bottom{
    border-bottom: 1px solid rgb(160, 159, 159);
}
.pd__price{
    margin: 10px 0;
    line-height: 2rem;
    font-size: 15px;
    padding: 0 20px;
    color: black;
}

.pd__price--text {
    font-size: 20px;
    font-weight: 500;
    color: #b12704;
}

.a-color-secondary {
    color: #565959;
    font-size: 14px;
}
.a--base{
  color:rgb(19, 122, 129);
  font-size: 13px;
  padding: 0 10px;
}
.pd_price__paragraph{
    color: black;
    padding-left: 40px;
}
.pd__import{
    margin-bottom: 30px;
}
.pd_table{
    margin: 10px 0;
  
}
.pd_table td{
  padding: 0 15px 0 0;
  font-size: 14px;
}
.pd_table--card{
    margin: 10px 6px;
}
.pd_table--card td{
    padding: 0 15px 0 0;
    font-size: 14px;
    font-size: 12px;
  }
  .pd_table--card td a{
      font-size: 13px;
  }
.pd__features-title {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 4px;
}
.peoduct-about{
    margin: 20px 0;
}
.peoduct-about h4{
    font-size: 20px;
    margin: 20px 0;
}
.peoduct-about ul{
    margin: 10px;
}
.peoduct-about li{
    font-size: 14px;
    line-height: 1.5rem;
    
}
.card{
    display:flex;
    justify-content: space-between;
    width: 100%;
    color: #0f1111;
    margin-left:40px ;
    height: 300px;
    margin-top: 20px;
}
.card-container{
    border: 1px solid grey;
    height: 700px;
    width: 250px;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 10px;
    
}

.select-dropdown{
    display: inline-block;
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 12px;
    box-shadow: 0 2px 5px rgb(15 17 17 / 15%);
    margin: 0 10px;
}
.buttons{
       margin: 20px 50px;
}
.btn-1, .btn-2{
        background-color:#F7CA00 ;
        color: black;
        padding: 10px 20px;  
        border: none;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px;
        border-radius: 20px;
        width: 110%;
    

}
.btn-2{
    background-color:#FA8900 ;
}
.btn-3{
    background-color:#EDEEF1 ;
    color: black;
    padding: 5px 5px;  
    border: 1px solid gray;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
    width: 120%;
    margin: 20px  0 15px 0;
}
.lock{
    margin: 10px 10px;
    font-size: 13px;
    
}
.lock i{
    color:gray;
    padding-right: 4px;
    font-size: 13px;
}
.page-3{
 width: 100%;
  height: 100vh; 
   margin: 20px;
}
.page-3__title{
   margin: 10px 0;
   color: #CC6600;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-container-images{
    margin-top: 1px;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 10px;
}
.grid-container-images > div{
    padding: 5px;
   
}
.grid-container-images a{
    display:block;
    font-size:14px
}
.grid-container-images img{
    height:200px;
    width: 200px;
    background-color: white;
}

.flex-container{
    display: flex;
    flex-direction:column;
}
/* .image-size {
    background: url(https://m.media-amazon.com/images/S/sash/M9SSJsDj8YXHO4p.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;

}
.image-size i{
    width: 5.3rem;
    height: 1.5rem;
    background-position: -18.5rem -18.2rem;
} */
 .chevron i{
    color:gray;
    font-size: 10px;
}

.card--text{
    margin: 15px 0;
    font-size: 14px;
}
.card_h{
   color: #527600; 
   margin-top: 10px;
   font-size: 16px;
}
.policy a{
    font-size: 13px;
}
.policy__checkbox{
    font-size: 13px;
    
}
.checkbox{

}
.image-size img{
    position: relative;
    top: 5px;
    height: 18px;
    width: 45px;
}